.wrapper{
    display: flex;
    justify-content: space-around;

}
.wrap {
    display: flex;

    justify-content: center;
    flex-direction: column;
    margin-top: 10rem;
    width: 25rem;

    border: 2px solid #63DAFC;
    border-radius: 10px;
    background-color: #2A2C35;
    padding: 1rem;
}
